/* Sonofe structure */

html,
body {
  height: 100%;
  width: 100%;
  background: #3B3A3D;
}

/* New Structure App*/

#wrapper {
    width: 100%;
    height: 100%;
}
#page-wrapper {
    min-height: 100%;
    max-height: 100%;
    height: 100%;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 150px;
        border-left: 1px solid #e7e7e7;
    }
}



.sidebar{
  background: #3B3A3D;
}
.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 150px;
        margin-top: 51px;
        background: #3B3A3D;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}









/* Structure General App */

.header {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 60px;
  background-color: #F1F2F9;
  z-index:1;
}
  .header .buttons{
    float: right;
    margin-left: 10px;
    background: #F1F2F9;
    border: 1px #3A66FB solid;
    padding: 10px;
    color: #3A66FB;
    letter-spacing:4px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    top: 10px;
    position: relative;
  }
  .header .buttons:hover{
    float: right;
    margin-left: 10px;
    background: #3A66FB;
    border: 1px #3A66FB solid;
    padding: 10px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    top: 10px;
    position: relative;
  }

/* Footer Sticky */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #3B3A3D;
  overflow: hidden;
}
  .footer .right{
    float: right;
    list-style: none outside none;
    text-transform: uppercase;
    position: relative;
    top: 20px;
  }
  .footer .right li{
    display: inline;
    margin-right: 10px;
    color: #F1F2F5;
    font-size: 12px;
    letter-spacing: 1px;
  }
  .footer .right li a{
    text-decoration: none;
  }

/* Wrap */

#wrap{
  height:100%;
  overflow:hidden;
  z-index: 0;
}
  .bg_one{
      height: 100%;
      position: relative;
      background: #3A66FB;
      background: url('../img/bg_new.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }
    .bg_one h1{
      color: #fff;
      font-weight: solid;
      letter-spacing:4px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    .bg_one p{
      color: #fff;
      font-weight: solid;
      letter-spacing: 4px;
      text-transform: uppercase;
    }



/* Heading */

h1,h2,h3,h4,h5{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: lighter;
}

.txt-normal{
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: normal;
  font-size: 12px;
}
.txt-negative{
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: normal;
  font-size: 12px;
}

/* form Register */

#form-container{
  background:#F1F2F9;
  overflow: hidden;
  min-height:300px;
}
  #form-container .page-header{
    background: #F1F2F9;
    margin:0;
    padding:30px;
  }
    #form-container .page-header h1{
      text-transform: uppercase;
      letter-spacing: 4px;
    }
  #form-container .subtitle{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 15px;
    font-weight: lighter;
  }
  #form-container .accounts_type{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 13px;
    font-weight: lighter;
  }
  #form-container .button-text{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 15px;
    font-weight: lighter;
  }

/* numbered buttons */
#status-buttons                 {  }
#status-buttons a               { color:#FFF; display:inline-block; font-size:12px; margin-right:10px; text-align:center; text-transform:uppercase; }
#status-buttons a:hover         { text-decoration:none; }
#status-buttons span            { background:#080808; display:block; height:30px; margin:0 auto 10px; padding-top:5px; width:30px;
    border-radius:50%; }
/* active buttons */
#status-buttons a.active span   { background:#3A66FB; }

/* ANIMATION STYLINGS */

#signup-form{ position:relative; min-height:100px; overflow:hidden; padding:30px;  }

/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#form-views.ng-enter,
#form-views.ng-leave      { position:absolute; left:30px; right:30px;
    transition:0.5s all ease; -moz-transition:0.5s all ease; -webkit-transition:0.5s all ease;
}

/* enter animation */
#form-views.ng-enter            {
    -webkit-animation: slideInRight 0.5s both ease;
    -moz-animation: slideInRight 0.5s both ease;
    animation: slideInRight 0.5s both ease;
}
/* leave animation */
#form-views.ng-leave            {
    -webkit-animation: slideOutLeft 0.5s both ease;
    -moz-animation: slideOutLeft 0.5s both ease;
    animation: slideOutLeft 0.5s both ease;
}

/* Animations */

  @keyframes slideOutLeft {
      to      { transform: translateX(-200%); }
  }
  @-moz-keyframes slideOutLeft {
      to      { -moz-transform: translateX(-200%); }
  }
  @-webkit-keyframes slideOutLeft {
      to      { -webkit-transform: translateX(-200%); }
  }
  /* slide in from the right */
  @keyframes slideInRight {
      from    { transform:translateX(200%); }
      to      { transform: translateX(0); }
  }
  @-moz-keyframes slideInRight {
      from    { -moz-transform:translateX(200%); }
      to      { -moz-transform: translateX(0); }
  }
  @-webkit-keyframes slideInRight {
      from    { -webkit-transform:translateX(200%); }
      to      { -webkit-transform: translateX(0); }
  }

/* Overview Accounts */

.description_accounts{
  width: 100%;
  min-height: 150px;
  margin: 10px 0 10px 0;
  padding: 10px 10px;
  background: #3A393C;
}
  .description_accounts h2{
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 4px;
  }
  .description_accounts p{
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2px;
  }

/* Uploader Form */

.uploader-form{
  background: #F1F2F9;
  margin: 10px 20px;
}
  .uploader-form .button-text{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 15px;
    font-weight: lighter;
  }
  .uploader-form h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 15px;
    font-weight: lighter;
  }
  .uploader-form h3{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 12px;
    font-weight: lighter;
  }
  .uploader-form th{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 11px;
    font-weight: lighter;
  }
  .uploader-form .dropzone{
    border: 3px #ccc dotted;
  }
  .uploader-form .dropzone h5{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 15px;
    font-weight: bold;
  }



/* Left Menu slide */

#section_left{
  background: none repeat scroll 0 0 #3B3A3D;
  bottom: 0;
  left: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 110px;
  z-index: 10;
  margin-top:118px;
}
  #section_left .navigation{
    width: 100%;
    height: auto;
    list-style: none;
  }
    #section_left .navigation .block{
      width: 100%;
      height: 100px;
      overflow: hidden;
    }
    #section_left .navigation .block .glyphicon{
      margin: auto;
      color: #fff;
      font-size: 25px;
      position: relative;
      left:40px;
      top:40px;
    }


/* Upload Module */

.upload-box{
  background: #F1F2F9;
  width: 100%;
  height: 150px;
  padding:10px;
  margin: 50px 0 0 0;
}
  .upload-box .title{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing:8px;
    color: #3B3A61;
    text-align: left;
  }
  .upload-box .button{
    border: 2px solid #3A66FB;
    height: 50px;
    color: #3B3A61;
    text-align: center;
    text-transform: uppercase;
    letter-spacing:8px;
    overflow:hidden;
    font-size: 11px;
    padding-top: 14px;
    margin: 20px 0 0 0;
  }
  .upload-box .button:hover{
    border: 2px solid #3A66FB;
    height: 50px;
    color: #fff;
    background: #3A66FB;
    text-align: center;
    text-transform: uppercase;
    letter-spacing:8px;
    overflow:hidden;
    font-size: 11px;
    padding-top: 14px;
  }
  .upload-box input[type=radio]{
		display:none;
	}
  .upload-box input[type=radio] + label{
		border: 2px solid #3A66FB;
    width: 100%;
    height: 50px;
    color: #3B3A61;
    text-align: center;
    text-transform: uppercase;
    letter-spacing:8px;
    overflow:hidden;
    font-size: 11px;
    padding-top: 14px;
    margin: 20px 0 0 0;
	}
	.upload-box input[type=radio]:checked + label{
	    border: 2px solid #3A66FB;
      height: 50px;
      color: #fff;
      background: #3A66FB;
      text-align: center;
      text-transform: uppercase;
      letter-spacing:8px;
      overflow:hidden;
      font-size: 11px;
      padding-top: 14px;
	}


/* Accounts Module */

.accounts-box{
  height: auto;
  background: #F1F2F9;
  overflow: hidden;
  margin-top: 50px;
  padding: 10px 20px;
}
  .accounts-box a{
    text-decoration: none;
  }
  .accounts-box .add{
    width: 100%;
    height: 50px;
    margin: 30px 0 30px 0;
    background: #F1F2F9;
    border: 3px solid #3A66FB;
    color: #3B3A3D;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
  }
  .accounts-box button{
    width: 100%;
    height: 50px;
    margin: 30px 0 30px 0;
    background: #3A66FB;
    border: 3px solid #3A66FB;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
  }



/* ng-animate */

.slide{
    margin-top: 80px;
}
.slide.ng-leave {
  position: relative;
}
.slide.ng-enter {
  position: absolute;
}
.slide.ng-enter, .slide.ng-leave {
  -webkit-transition: -webkit-transform 0.3s ease-in, opacity 0.3s ease-in;
     -moz-transition: -moz-transform 0.3s ease-in, opacity 0.3s ease-in;
       -o-transition: -o-transform 0.3s ease-in, opacity 0.3s ease-in;
          transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}
.slide.ng-enter, .slide.ng-leave.ng-leave-active {
  -webkit-transform: scaleX(0.0001);
       -o-transform: scaleX(0.0001);
          transform: scaleX(0.0001);
  opacity: 0;
}
.slide, .slide.ng-enter.ng-enter-active {
  -webkit-transform: scaleX(1);
       -o-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}

/* Modals */

.modal-register{
  background: #F1F2F9;
}
  .modal-register .title{
    color: #3B3A3D;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .modal-register .input-regs{
    width: 100%;
    height:50px;
    background: #F1F2F9;
    border: 2px solid #3A66FB;
    padding-left: 10px;
  }
  .modal-register .btn-regis{
    background: #3A66FB;
    width: 100%;
    height:50px;
    border: none;
    margin: 30px 0 0 0;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  .modal-register .btn-select{
    background: #3A66FB;
    width: 100%;
    height:50px;
    border: none;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 0 3px 0 3px;
  }
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin select{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #F1F2F9;
    opacity: 0.9px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
