/* Sonofe structure */
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* Structure General App */

#container{
   margin: auto;
   position: absolute;
   width: 100%;
   height: 100%;
}
#header{
  background: none repeat scroll 0 0 #F1F2F9 ;
  position: fixed;
  min-height: 119px;
  max-height: 350px;
  top: 0;
  width: 100%;
  z-index: 100;
}
  #header .logo{
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing:8px;
    color: #3A66FB;
    position: relative;
    top: 45px;
    left: 30px;
  }
  #header .settings{
    color: #3A66FB;
    position: relative;
    top: 15px;
    right: 150px;
    float: right;
    font-size: 26px;
    border: none;
  }
  #header .profile{
    color: #3A66FB;
    position: relative;
    top: 15px;
    right: 40px;
    float: right;
    font-size: 26px;
  }

#section_left{
  background: none repeat scroll 0 0 #3B3A3D;
  bottom: 0;
  left: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 110px;
  z-index: 10;
  margin-top:118px;
}
  #section_left .navigation{
    width: 100%;
    height: auto;
    list-style: none;
  }
    #section_left .navigation .block{
      width: 100%;
      height: 100px;
      overflow: hidden;
    }
    #section_left .navigation .block .glyphicon{
      margin: auto;
      color: #fff;
      font-size: 25px;
      position: relative;
      left:40px;
      top:40px;
    }

#wrap{
  position: fixed;
  top: 120px;
  left: 111px;   /*Set left value to section_left*/
  bottom: 0;
  overflow: auto;
}

/* Upload Module */

.upload-box{
  background: #F1F2F9;
  width: 100%;
  height: 150px;
  padding:10px;
  margin: 50px 0 0 0;
}
  .upload-box .title{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing:8px;
    color: #3B3A61;
    text-align: left;
  }
  .upload-box .button{
    border: 2px solid #3A66FB;
    height: 50px;
    color: #3B3A61;
    text-align: center;
    text-transform: uppercase;
    letter-spacing:8px;
    overflow:hidden;
    font-size: 11px;
    padding-top: 14px;
  }
  .upload-box .button:hover{
    border: 2px solid #3A66FB;
    height: 50px;
    color: #fff;
    background: #3A66FB;
    text-align: center;
    text-transform: uppercase;
    letter-spacing:8px;
    overflow:hidden;
    font-size: 11px;
    padding-top: 14px;
  }

/* Accounts Module */


/* ng-animate */

.slide.ng-leave {
  position: relative;
}
.slide.ng-enter {
  position: absolute;
}
.slide.ng-enter, .slide.ng-leave {
  -webkit-transition: -webkit-transform 0.3s ease-in, opacity 0.3s ease-in;
     -moz-transition: -moz-transform 0.3s ease-in, opacity 0.3s ease-in;
       -o-transition: -o-transform 0.3s ease-in, opacity 0.3s ease-in;
          transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}
.slide.ng-enter, .slide.ng-leave.ng-leave-active {
  -webkit-transform: scaleX(0.0001);
       -o-transform: scaleX(0.0001);
          transform: scaleX(0.0001);
  opacity: 0;
}
.slide, .slide.ng-enter.ng-enter-active {
  -webkit-transform: scaleX(1);
       -o-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}
