html,
body{
    height: 100%;
    min-height: 100%;
    background: #FFFFFF;
    /*background: url('../img/bg_new.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 60px;
    margin-top: 60px;*/
}
.header {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 60px;
  background-color: #F1F2F9;
  z-index:1;
}
  .header .buttons{
    float: right;
    margin-left: 10px;
    background: #F1F2F9;
    border: 1px #3A66FB solid;
    padding: 10px;
    color: #3A66FB;
    letter-spacing:4px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    top: 10px;
    position: relative;
  }
  .header .buttons:hover{
    float: right;
    margin-left: 10px;
    background: #3A66FB;
    border: 1px #3A66FB solid;
    padding: 10px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    top: 10px;
    position: relative;
  }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #3B3A3D;
  overflow: hidden;
}
  .footer .right{
    float: right;
    list-style: none outside none;
    text-transform: uppercase;
    position: relative;
    top: 20px;
  }
  .footer .right li{
    display: inline;
    margin-right: 10px;
    color: #F1F2F5;
    font-size: 12px;
    letter-spacing: 1px;
  }
  .footer .right li a{
    text-decoration: none;
  }

#wrap{
  height:100%;
  overflow:hidden;
  z-index: 0;
}
  .bg_one{
      height: 100%;
      position: relative;
      background: #3A66FB;
      background: url('../img/bg_new.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }
.container-wrap{
  margin-top: 80px;
  position: relative;
}
  .container-wrap h1{
    color: #E6E6E6;
    font-weight: lighter;
    font-size: 32px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
  }
  .container-wrap p{
    margin-top: 40px;
    color: #E6E6E6;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

.fix-height{
  margin-top: 150px;
}
.box-account{
  background: #F1F2F9;
  min-height: 200px;
  overflow: hidden;
}
  .box-account .title{
    color: #3B3A3D;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
    margin: 10px 0 0 10px;
  }
  .box-account .box-option{
    background: #F1F2F9;
    float:left;
    border: 2px solid #3A66FB;
    height:100px;
    overflow: hidden;
    position: relative;
    top: 30px;
    left: 25%;
  }






  .container-register .title_start{
    color: #E6E6E6;
    font-weight: lighter;
    font-size: 70px;
    letter-spacing: 20px;
    text-align: center;
  }
  .container-register .line{
    border-bottom: 2px solid #E6E6E6;
  }
  .container-register .login{
    color: #E6E6E6;
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }
  .container-register .sigin{
    color: #E6E6E6;
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }

.modal-register{
  background: #F1F2F9;
}
  .modal-register .title{
    color: #3B3A3D;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .modal-register .input-regs{
    width: 100%;
    height:50px;
    background: #F1F2F9;
    border: 2px solid #3A66FB;
    padding-left: 10px;
  }

  .modal-register .btn-regis{
    background: #3A66FB;
    width: 100%;
    height:50px;
    border: none;
    margin: 30px 0 0 0;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin select{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #F1F2F9;
    opacity: 0.9px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
