<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="favicon.ico">

		<title>Sonofe - Dashboard</title>

		<!-- Core CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/dashboard.css" rel="stylesheet">

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body ng-app="appSonofe">

		<div class="header">
			<div class="container">
				<a ui-sref-active="active" ui-sref="form.interests" class="buttons">Sign Up</a>

				<div ng-controller="ModalLoginCtrl">
						<script type="text/ng-template" id="myModalLogin.html">
								<div class="modal-content">
									<div class="modal-body modal-register">
										<button type="button" class="close" ng-click="cancel()">&times;</button>

										<form class="form-login" ng-controller="LoginCtrl" name="form_login">
												<label class="title" name="">Log In</label>
												<img class="profile-img" src="img/02.Astronauta.png" alt="icon">
												<div class="form-group" ng-class="{'has-error': form_login.username.$invalid , 'has-success': form_login.username.$valid}">
													<input type="text" class="input-regs" ng-model="formlogin.username" name="username" placeholder="Username" required autofocus>
													<p ng-show="form_login.username.$invalid && !form_login.username.$pristine" class="help-block">You Username is required.</p>
												</div>
												<div class="form-group" ng-class="{'has-error': form_login.passw.$invalid , 'has-success': form_login.passw.$valid}">
													<input type="password" class="input-regs" ng-model="formlogin.password" name="passw" placeholder="Password" required autofocus>
													<p ng-show="form_login.passw.$invalid && !form_login.passw.$pristine" class="help-block">You Password is required.</p>
												</div>
												<label class="checkbox pull-left">
														<input type="checkbox" value="remember-me">
														Remember me
												</label>
												<label>
													<code>{{ formlogin }}</code>
												</label>
												<button ng-click="processForm()" class="btn-regis" ng-disabled="form_login.$invalid">Log in</button>
										</form>

									</div>
								</div>
						</script>
						<button type="button" class="buttons" ng-click="openlogin()">log in</button>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="slide" ui-view>
				Loading...
			</div>
		</div>

		<div class="footer">
			<div class="container">
				<ul class="right">
					<li><a href="#">faq</a></li>
					<li><a href="#about">about us</a></li>
					<li><a href="#">contact us</a></li>
					<li><a href="#">terms of use</a></li>
					<li>Sonofe inc. all right reserved.</li>
				</ul>
			</div>
		</div>

		<!-- Core Javascript -->
		<!--<script src="https://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript"></script>-->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js" type="text/javascript"></script>
		<script src="js/vendor/ui-bootstrap.js"></script>
		<script src="js/vendor/angular-file-upload.js"></script>
		<script src="js/vendor/audiometa.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular-animate.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
		<script src="https://code.angularjs.org/1.2.20/angular-cookies.min.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
