<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 well-lg">
      <div class="upload-box">
        <div class="row well-lg">
          <a href="#/accounts/create"><div class="col-md-6 button">Crear Artista</div></a>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

<hr>

<div ng-controller="DemoCtrl">


  <select ng-model="selectedTestAccount.node_id" ng-options="item.node_id as item.name for item in salida">
      <option ng-value="node_id">Select Account</option>
  </select>



  {{selectedTestAccount.node_id}}

</div>

<hr>

<div ng-controller="ArtistlistCtrl">
  
  <select ng-model="woo">
    <option ng-repeat="artists in artist" value="{{artists.node_id}}"> {{artists.name}} </option>
  </select>

  <pre>
    {{woo}}
  </pre>
</div>
Cookie Value: {{cookieValue}}
