<div class="form-signin">
    <label class="title">Sign In</label>
    <input type="text" class="email input-regs" placeholder="Email">
    <input type="password" class="passw input-regs" placeholder="Password">
    <input type="password" class="passw2 input-regs" placeholder="Password Again">
    <label class="title">Tipo de Cuenta</label>
    <select class="account input-regs">
      <option>Disquera</option>
      <option>Artista Independiente</option>
      <option>Conferencista Independiente</option>
      <option>Ministerio</option>
    </select>
    <button class="btn-regis" id="register_account">Sign In</button>
</div>
