<div class="well-lg" role="form">
  <h2>Crear Artista</h2>
  <div class="form-group">
    <label for="exampleInputPassword1">Nombre del Artista</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Nombre del Artista">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Compañia</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Compañia">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Genero</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Genero">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">Background Image</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block"></p>
  </div>
  <div class="form-group">
    <label for="exampleInputFile">Profile Image</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block"></p>
  </div>
  <button type="submit" class="btn btn-default">Agregar</button>
</div>
<div ng-controller = "myCtrl">
    <input type="file" name="conference_file" file-model="myFile"/>
    <button class="btn" ng-click="uploadFile()">upload me</button>
</div>
