<form class="well-lg" ng-controller="createArtistCtrl" name="forma">
  <h2>Crear Artista</h2>
  <div class="help-block" role="alert" ng-show="forma.nombreA.$error.required || forma.empresa.$error.required || forma.genero.$error.required">
    <span class="text-danger">Todos los Campos son Obligatorios</span>
  </div>
  <div class="form-group" ng-class="{'has-error': forma.nombreA.$invalid , 'has-success': forma.nombreA.$valid}">
    <label for="artist">Nombre del Artista</label>
    <input type="text" class="form-control" ng-model="field1" placeholder="Nombre del Artista" name="nombreA" required>
  </div>
  <div class="form-group" ng-class="{'has-error': forma.empresa.$invalid , 'has-success': forma.empresa.$valid}">
    <label for="company">Compañia</label>
    <input type="text" class="form-control" ng-model="field2" placeholder="Compañia" name="empresa" required>
  </div>
  <div class="form-group" ng-class="{'has-error': forma.genero.$invalid , 'has-success': forma.genero.$valid}">
    <label for="genere">Genero Musical</label>
    <input type="text" class="form-control" ng-model="field3" placeholder="Genero" name="genero" required>
  </div>
  <div class="form-group">
    <label for="background_img">Background Image</label>
    <input type="file" file-model="myFile">
    <p class="help-block"></p>
  </div>
  <div class="form-group">
    <label for="profile_img">Profile Image</label>
    <input type="file" file-model="myFile2">
    <p class="help-block"></p>
  </div>
  <button ng-click="uploadForm()" class="btn" ng-disabled="forma.$invalid">Agregar Artista</button>
</form>
