<div class="well-lg" ng-controller="createArtistCtrl">
  <h2>Crear Artista</h2>
  <div class="form-group">
    <label for="artist">Nombre del Artista</label>
    <input type="text" class="form-control" ng-model="field1" placeholder="Nombre del Artista">
  </div>
  <div class="form-group">
    <label for="company">Compañia</label>
    <input type="text" class="form-control" ng-model="field2" placeholder="Compañia">
  </div>
  <div class="form-group">
    <label for="genere">Genero</label>
    <input type="text" class="form-control" ng-model="field3" placeholder="Genero">
  </div>
  <div class="form-group">
    <label for="background_img">Background Image</label>
    <input type="file" file-model="myFile1">
    <p class="help-block"></p>
  </div>
  <div class="form-group">
    <label for="profile_img">Profile Image</label>
    <input type="file" file-model="myFile2">
    <p class="help-block"></p>
  </div>
  <button ng-click="uploadForm()" class="btn btn-default">Crear Usuario</button>
</div>
