<div class="container">
  <div class="row fix-height">
    <div class="col-md-2"></div>
    <div class="col-md-8 box-account">
      <div class="title">Selecciona el tipo de cuenta que desea registrar</div>
        <div class="row">
          <div class="col-xs-12 col-sm-2 col-md-2 box-option" ng-click="">

          </div>
          <div class="col-xs-12 col-sm-2 col-md-2 box-option" ng-click="">

          </div>
          <div class="col-xs-12 col-sm-2 col-md-2 box-option" ng-click="">

          </div>
        </div>
        <p ng-hide="showme">It will appear here!</p>
        <p ng-show="showme">This is mah content, yo!</p>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>





<!-- Modal Register -->
<!--<div class="modal fade" id="myRegister" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body modal-register">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="form-signin">
            <label class="title">Sign In</label>
            <input type="text" class="email input-regs" placeholder="Username" required>
            <input type="password" class="passw input-regs" placeholder="Password" required>
            <input type="password" class="passw2 input-regs" placeholder="Password Again" required>
            <label class="title">Tipo de Cuenta</label>
            <select class="account input-regs">
              <option>Disquera</option>
              <option>Artista Independiente</option>
              <option>Conferencista Independiente</option>
              <option>Ministerio</option>
            </select>
            <button class="btn-regis" id="register_account">Sign In</button>
        </div>
      </div>
    </div>
  </div>
</div>-->
<!-- Modal Login -->
<!--<div class="modal fade" id="myLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body modal-register">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="form-signin">
          <label class="title">Log In</label>
          <img class="profile-img" src="img/02.Astronauta.png" alt="">
          <input type="text" class="input-regs email_login" placeholder="Username" required>
          <input type="password" class="input-regs passw_login" placeholder="Password" required>
          <button class="btn-regis" id="login_account">Sign in</button>
          <label class="checkbox pull-left">
              <input type="checkbox" value="remember-me">
              Remember me
          </label>
          <a href="faq.html" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
        </div>
      </div>
    </div>
  </div>
</div>-->
