<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div id="form-container">
        <div class="text-center">
            <h1>Join to Sonofe</h1>

            <div id="status-buttons" class="text-center">
                <a ui-sref-active="active" ui-sref=".interests"><span>1</span></a>
                <a ui-sref-active="active" ui-sref=".profile"><span>2</span></a>
                <a ui-sref-active="active" ui-sref=".join"><span>3</span></a>
            </div>
        </div>

        <form id="signup-form" ng-submit="processForm()" ng-controller="SignupCtrl" name="form_signup">

            <div id="form-views" ui-view></div>

        </form>
    </div>
  </div>
</div>
