<h5>Selecciona el tipo de cuenta:</h5>
<br />
<div class="form-group">
  <div class="row">
    <div class="col-md-4">
      <div class="radio">
          <label>
             <input type="radio" ng-model="formsignup.user_role" value="2" checked>
             <span class="accounts_type">Artista Independiente</span>
          </label>
      </div>
    </div>
    <div class="col-md-4">
      <label>
          <img src="img/icons/disquera.png" src="disquera" width="40">
          <input type="radio" ng-model="formsignup.user_role" value="3">
          <span class="accounts_type">Disquera</span>
      </label>
    </div>
    <div class="col-md-4">
      <div class="radio">
          <label>
              <input type="radio" ng-model="formsignup.user_role" value="1">
              <span class="accounts_type">Ministerio</span>
          </label>
      </div>
    </div>
  </div>
</div>

<div class="description_accounts" ng-if="formsignup.user_role">
  <div ng-show="formsignup.user_role == '2'">
    <h2>Artista Independiente<h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
  </div>
  <div ng-show="formsignup.user_role == '3'">
    <h2>Disquera<h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
  </div>
  <div ng-show="formsignup.user_role == '1'">
    <h2>Ministerio<h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
  </div>
</div>

<div class="form-group row">
  <div class="col-xs-6 col-xs-offset-3">
      <a ui-sref="signup.profile" ng-disabled="!formsignup.user_role" class="btn btn-lg btn-block btn-info">
        <span class="button-text">Siguiente</span>
        <span class="glyphicon glyphicon-circle-arrow-right"></span>
      </a>
  </div>
</div>
