<div class="container" ng-controller="UploadController" ng-file-drop>
  <h2 class="text-center">Subir a Sonofe</h2>
  <div class="row">
    <div class="col-md-4">

        <!--
        <div ng-show="uploader.isHTML5">

            <div class="well my-drop-zone" ng-file-over>
              Drag Files
            </div>


            <div class="my-drop-zone" ng-file-drop="{ url: '' }" ng-file-over="another-file-over-class">

            </div>
        </div>-->

        <!-- 2. ng-file-select | ng-file-select="options" -->
        <!--Multiple-->
        <!--<input ng-file-select name="conference_file" filename="conference_file" type="file" multiple  />-->

        <b>Seleccionar archivo</b>
        <br />
        <br />
        <input class="btn btn-default btn-lg well-sm" ng-file-select name="conference_file" filename="conference_file" type="file" />
        <!--<input type="file" multiple onchange="angular.element(this).scope().setFiles(this)"/>-->

        <form class="well-sm"  name="forma">
          <h2>Metadata</h2>
          <div class="help-block" role="alert" ng-show="forma.nombreA.$error.required || forma.empresa.$error.required || forma.genero.$error.required">
            <span class="text-danger">Todos los Campos son Obligatorios</span>
          </div>
          <div class="form-group" ng-class="{'has-error': forma.nombreA.$invalid , 'has-success': forma.nombreA.$valid}">
            <label for="artist">Titulo</label>
            <input type="text" class="form-control" ng-model="field1" placeholder="Titulo" name="nombreA" required>
          </div>
          <div class="form-group" ng-class="{'has-error': forma.empresa.$invalid , 'has-success': forma.empresa.$valid}">
            <label for="company">Artista</label>
            <input type="text" class="form-control" ng-model="field2" placeholder="Artista" name="empresa" required>
          </div>
          <div class="form-group" ng-class="{'has-error': forma.genero.$invalid , 'has-success': forma.genero.$valid}">
            <label for="genere">Album</label>
            <input type="text" class="form-control" ng-model="field3" placeholder="Album" name="genero" required>
          </div>
          <div class="form-group" ng-class="{'has-error': forma.genero.$invalid , 'has-success': forma.genero.$valid}">
            <label for="genere">Genero</label>
            <input type="text" class="form-control" ng-model="field3" placeholder="Genero" name="genero" required>
          </div>
          <div class="form-group" ng-class="{'has-error': forma.genero.$invalid , 'has-success': forma.genero.$valid}">
            <label for="genere">Año</label>
            <input type="text" class="form-control" ng-model="field3" placeholder="Año" name="year" required>
          </div>
          <div class="form-group">
            <label for="profile_img">Cover</label>
            <input type="file" file-model="myFile">
            <p class="help-block"></p>
          </div>

          <button ng-click="uploadForm()" class="btn" ng-disabled="forma.$invalid">Salvar Metada</button>
        </form>
    </div>
    <div class="col-md-8" style="margin-top:0px">

        <h3></h3>
        <p>Longitud de la cola: {{ uploader.queue.length }}</p>

        <table class="table">
            <thead>
                <tr>
                    <th width="50%">Nombre</th>
                    <th ng-show="uploader.isHTML5">Tamaño</th>
                    <th ng-show="uploader.isHTML5">Progreso</th>
                    <th>Estatus</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in uploader.queue">
                    <td><strong>{{ item.file.name }}</strong></td>
                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                    <td ng-show="uploader.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <td nowrap>
                        <button type="button" class="btn btn-success btn-xs" ng-click="showme=true">
                            <span class="glyphicon glyphicon-edit"></span> Metada
                        </button>
                        <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> Subir
                        </button>
                        <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancelar
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Remover
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div>
            <p>
                Cola de progreso:
                <div class="progress" style="">
                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </p>
            <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                <span class="glyphicon glyphicon-upload"></span> Subir Todo
            </button>
            <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancelar Todo
            </button>
            <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                <span class="glyphicon glyphicon-trash"></span> Remover Todo
            </button>
        </div>
    </div>
  </div><!-- /row -->
</div>

<!-- Metada -->
