<div ng-controller="UploadController" ng-file-drop>


  <div class="row">
    <div class="col-md-9 col-md-offset-2">
      <h2>Seleccionar archivos <span class="glyphicon glyphicon-picture"></span></h2>
      <input class="btn btn-default btn-lg well-sm" ng-file-select name="conference_file" filename="conference_file" type="file" />
    </div>
  </div>

  <!--<input type="file" multiple onchange="angular.element(this).scope().setFiles(this)"/>-->

  <script type="text/ng-template" id="myModalMeta.html">
      <div class="modal-content">
        <div class="modal-body modal-register">
          <button type="button" class="close" ng-click="cancel()" >&times;</button>

          <form class="form-login" ng-controller="MetaCtrl" name="form_meta">
              <h2>Metadata</h2>
              <select class="form-control" ng-model="album.field1" name="artista" required>
                <option ng-repeat="album in albums.content" value="{{album.node_id}}"> {{album.name}} </option>
              </select>
              <br />
              <div class="form-group">
                <pre>{{ album }}</pre>
              </div>
              <button ng-click="getAlbum()" class="btn-regis" ng-disabled="form_meta.$invalid">seleccionar album</button>
          </form>

        </div>
      </div>
  </script>

  <h3>Longitud de la cola: {{ uploader.queue.length }}</h3>

  <table class="table">
      <thead>
          <tr>
              <th>File</th>
              <th>Album</th>
              <th ng-show="uploader.isHTML5">Tamaño</th>
              <th ng-show="uploader.isHTML5">Progreso</th>
              <th>Estatus</th>
              <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="item in uploader.queue">
              <td><strong>{{ item.file.name }}</strong></td>
              <td>
                <select class="form-control" name="artista" required>
                  <option ng-repeat="album in albums.content" value="{{album.node_id}}"> {{album.name}} </option>
                </select>
              </td>
              <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
              <td ng-show="uploader.isHTML5">
                  <div class="progress" style="margin-bottom: 0;">
                      <div class="progress-bar-sonofe" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                  </div>
              </td>
              <td class="text-center">
                  <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                  <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                  <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
              </td>
              <td nowrap>
                  <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                      <span class="glyphicon glyphicon-upload"></span> Subir
                  </button>
                  <!--<button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                      <span class="glyphicon glyphicon-ban-circle"></span> Cancelar
                  </button>-->
                  <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                      <span class="glyphicon glyphicon-trash"></span>
                  </button>
              </td>
          </tr>
      </tbody>
  </table>
</div>

<div class="form-group row well-lg">
  <div class="col-xs-6 col-xs-offset-3">
      <a ui-sref="uploader.metadata" class="btn btn-lg btn-block btn-info">
        <span class="button-text">siguiente</span>
        <span class="glyphicon glyphicon-edit"></span>
      </a>
  </div>
</div>
