<div ng-controller="UploadController" ng-file-drop>


  <div class="row">
    <div class="col-md-9 col-md-offset-2">
      <h2>Seleccionar archivos</h2>
      <input class="btn btn-default btn-lg well-sm" ng-file-select name="conference_file" filename="conference_file" type="file" />
    </div>
  </div>

  <!--<input type="file" multiple onchange="angular.element(this).scope().setFiles(this)"/>-->

  <p><h3>Longitud de la cola: {{ uploader.queue.length }}</h3></p>

  <table class="table">
      <thead>
          <tr>
              <th>File</th>
              <th>Nombre</th>
              <th>Artista</th>
              <th>Album</th>
              <th>cover</th>
              <th>genero</th>
              <th>año</th>
              <th ng-show="uploader.isHTML5">Tamaño</th>
              <th ng-show="uploader.isHTML5">Progreso</th>
              <th>Estatus</th>
              <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="item in uploader.queue">
              <td><strong>{{ item.file.name }}</strong></td>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="field1" placeholder="Nombre" name="Nombre" required>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="field1" placeholder="Artista" name="Artista" required>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="field1" placeholder="Album" name="Album" required>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="field1" placeholder="Cover" name="Cover" required>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="field1" placeholder="Genero" name="Genero" required>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="field1" placeholder="año" name="año" required>
                </div>
              </td>
              <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
              <td ng-show="uploader.isHTML5">
                  <div class="progress" style="margin-bottom: 0;">
                      <div class="progress-bar-sonofe" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                  </div>
              </td>
              <td class="text-center">
                  <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                  <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                  <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
              </td>
              <td nowrap>
                  <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                      <span class="glyphicon glyphicon-upload"></span> Subir
                  </button>
                  <!--<button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                      <span class="glyphicon glyphicon-ban-circle"></span> Cancelar
                  </button>-->
                  <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                      <span class="glyphicon glyphicon-trash"></span>
                  </button>
              </td>
          </tr>
      </tbody>
  </table>
</div>
<div class="form-group row well-lg">
  <div class="col-xs-6 col-xs-offset-3">
      <a ui-sref="uploader.metadata" class="btn btn-lg btn-block btn-info">
        <span class="button-text">siguiente</span>
        <span class="glyphicon glyphicon-edit"></span>
      </a>
  </div>
</div>
