<h1>Soy Metedata</h1>











<hr>
<div ng-controller="ModalmetaCtrl">
  <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-body">
            <form class="well-sm" ng-controller="MetadataEditCtrl" name="forma">
              <h2 class="text-center">Metadata</h2>
              <div class="help-block" role="alert" ng-show="forma.Titulo.$error.required || forma.Artista.$error.required || forma.Album.$error.required">
                <span class="text-danger">Los Campos marcados son Obligatorios</span>
              </div>
              <div class="form-group" ng-class="{'has-error': forma.Titulo.$invalid , 'has-success': forma.Titulo.$valid}">
                <label for="Titulo">Titulo</label>
                <input type="text" class="form-control" ng-model="field1" placeholder="Titulo" name="Titulo" required>
              </div>
              <div class="form-group" ng-class="{'has-error': forma.Artista.$invalid , 'has-success': forma.Artista.$valid}">
                <label for="Artista">Artista</label>
                <input type="text" class="form-control" ng-model="field2" placeholder="Artista" name="Artista" required>
              </div>
              <div class="form-group" ng-class="{'has-error': forma.Album.$invalid , 'has-success': forma.Album.$valid}">
                <label for="Album">Album</label>
                <input type="text" class="form-control" ng-model="field3" placeholder="Album" name="Album" required>
              </div>
              <div class="form-group">
                <label for="genere">Genero</label>
                <input type="text" class="form-control" ng-model="field4" placeholder="Genero" name="genero">
              </div>
              <div class="form-group">
                <label for="genere">Año</label>
                <input type="text" class="form-control" ng-model="field5" placeholder="Año" name="year">
              </div>
              <div class="form-group">
                <label for="profile_img">Cover</label>
                <input type="file" file-model="myFile">
                <p class="help-block"></p>
              </div>
              <button class="btn btn-danger" ng-click="cancel()">Cancelar</button>

              <button ng-click="uploadForm()" class="btn" ng-disabled="forma.$invalid" ng-class="{'btn-warning': forma.$invalid , 'btn-success': forma.$valid}">Guardar</button>
            </form>
            Selected node: <b>{{ selected.item }}</b>
        </div>
  </script>
  <button ctype="button" class="btn btn-default" ng-click="openmeta()"><span class="glyphicon glyphicon-edit"></span> Metada</button>
</div>
