<form class="" ng-controller="albumCtrl" name="albumform">
  <h2 class="text-center">Crear Album</h2>

  <div class="form-group" ng-class="{'has-error-sonofe': albumform.album.$invalid , 'has-sonofe': albumform.album.$valid}">
    <div class="input-group">
      <div class="input-group-addon">album</div>
      <input class="form-control" type="text" ng-model="formalbum.field1" name="album" required>
    </div>
  </div>

  <div class="form-group"  ng-class="{'has-error-sonofe': albumform.artista.$invalid , 'has-sonofe': albumform.artista.$valid}">
    <div class="input-group">
      <div class="input-group-addon">artista</div>
      <input class="form-control" type="text" ng-model="formalbum.field2" name="artista" required>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">

      <div class="form-group" ng-class="{'has-error-sonofe': albumform.year.$invalid , 'has-sonofe': albumform.year.$valid}">
        <div class="input-group">
          <div class="input-group-addon">Año</div>
          <input type="text" class="form-control" ng-model="formalbum.field3" name="year" required>
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <div class="form-group">

        <label for="cover">Album Cover</label>
        <input type="file" file-model="formalbum.myFile">
        <p class="help-block"></p>
      </div>
    </div>
  </div>

  <div class="help-block" role="alert" ng-show="albumform.album.$error.required || albumform.artista.$error.required || albumform.year.$error.required">
    <span class="text-danger">Los Campos marcados son Obligatorios</span>
  </div>

  <button class="btn btn-danger" ng-click="cancel()">Cancelar</button>
  <button ng-click="albumForm()" class="btn" ng-disabled="albumform.$invalid" ng-class="{'btn-warning': albumform.$invalid , 'btn-success': albumform.$valid}">Guardar</button>

  <pre>
    {{formalbum}}
  </pre>
</form>

<div class="form-group row">
  <div class="col-xs-6 col-xs-offset-3">
      <a ui-sref="uploader.files"  class="btn btn-lg btn-block btn-info">
        <span class="button-text">Siguiente</span>
        <span class="glyphicon glyphicon-circle-arrow-right"></span>
      </a>
  </div>
</div>
